numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
tensorflow
torch
keras
xgboost
lightgbm
catboost
nltk
spacy
gensim
opencv-python
Pillow
requests
beautifulsoup4
lxml
html5lib
selenium
pytest
unittest2
coverage
nose
mock
flask
django
fastapi
sqlalchemy
pymongo
psycopg2
mysql-connector-python
python-dotenv
pyyaml
jsonschema
protobuf
grpcio
boto3
paramiko
fabric
tqdm
rich
loguru
click
fire
typer
pyinstaller
setuptools
wheel
pip
virtualenv
jupyter
notebook
jupyterlab
ipython
ipywidgets
matplotlib-venn
plotly
dash
altair
bokeh
folium
geopandas
shapely
fiona
rasterio
pyproj
cartopy
networkx
graphviz
pydot
pytorch-lightning
transformers
sentence-transformers
torchvision
torchaudio
albumentations
opencv-contrib-python
dask
modin
ray
prefect
airflow
luigi
scrapy
twisted
pika
celery
kombu
aiohttp
requests-html
pydantic
fastapi-utils
sqlmodel
marshmallow
marshmallow-sqlalchemy
pytest-cov
tox
black
isort
flake8
mypy
