name: Python CI

on:
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Print current directory
        run: |
          echo "=================="
          echo "Current working directory: $GITHUB_WORKSPACE"
          echo "=================="

      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"   # hoáº·c 3.8, 3.9,...

      # 3. Upgrade pip
      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      # 4. Install dependencies
      - name: Install requirements
        run: |
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi
